.App {
  text-align: center;
}
body{
  background-color: rgb(211, 232, 232);
}
.componentA{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  width:100%;
  height:auto;
  margin-left:10%;
  margin-top: 2%;
  padding:10px;
  margin-bottom:2%;
  background-color: rgb(157, 209, 209);
}
.heading{
  width:400px;
  margin-left:25%;
  margin-bottom:20px;
  padding:20px 0px;
  font-weight: 700;
  border-radius: 5px;
  background-color: rgb(157, 209, 209);
  color: rgb(21, 18, 18);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  /* box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px; */
}
.componentB{
  margin-bottom:40px
}
.componentB>input{
  width:750px;
}
.componentC{
  margin-bottom:40px;
  
 
}
.flexdiv{
  /* margin-left:5%; */
  /* display:flex; */
  margin-left: 5%;
}
.skillsheading{
  margin-left:39%;
  width:95px;
  padding: 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px; 
  border-radius: 5px;
  background-color: rgb(211, 190, 152);
  color: rgb(21, 18, 18);
  /* border:1px solid black; */
  font-weight: 500;
  font-size:large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:rgb(174, 61, 84);
  margin-bottom:25px;
}
.enteredskill{
  text-align:center;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px; 
  width:350px;
  height:auto;
  padding:10px ;
  margin-left: 0%;
  margin-bottom: 10px;
}
.enteredskill>p{
  font-size:large;

}